.product-list{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-list-text{
    width: 65%;
}

.product-list-title{
    font-size: 50px;
    font-weight: 600;
}

.product-list-description{
    margin: 20px 0px;
}

.product-list-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:480px) {
    .product-list{
        padding: 10px;
    }

    .product-list-text{
        width: 100%;
    }

    .product-list-description{
        display: none;
    }
}