.intro{
    display: flex;
    height: 100vh;
    margin-right: 60px;
    
}

.intro-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    
}

.intro-right{
    flex: 1;
    position: relative;
}

.intro-left-wrapper{
    padding: 60px;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.greeting-text{
    font-size: 30px;
    font-weight: 300;
    
}

.intro-name{
    font-size: 60px;
    color: #41EAD4;
}

.intro-title{
    height: 50px;
    overflow: hidden;
}

.intro-title-wrapper{
    height: 90%;
    animation: move 5s ease-in-out infinite alternate;
}

@keyframes move {
    33%{
        transform: translateY(-50px);
    }
    66%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-150px);
    }
}

.intro-title-item{
    height: 50px;
    font-size: 25px;
    font-weight: italic;
    color: #FF206E;
    display: flex;
    align-items: center;
    
}

.intro-portrait{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}

.intro-background{
    clip-path: circle(42.7% at 84% 16%);
    background-color: #FF206E;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 480px){
    .intro{
        flex-direction: column;
    }

    .intro-left-wrapper{
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

}